body{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    margin: 0;
}

header{
    position: sticky;
    top:0;
}

.sticky-navbar{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: black;
    height: 60px;
}

.menu{
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin: auto 12px;
}

ul a{
    margin: 12px;
    color: white;
    text-decoration: none;
    font-size: 1.25 rem;
}

.company-name{
    margin: 12px;
    color: white;
    align-items: center;
    font-size: 1.5rem; 
}

h4{
    margin: 0;
}

.learn-button button{
    padding: 7px 40px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;

}

.info.image{
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}

.info-image>info{
    padding-left: 50px;
}

.info-image>image{
    padding-right: 50px;
}

.image>img{
    width: 400px;
    height: 400px;
}
.info{
    width: 49%;
    font-size: 1.25rem;
}

.flex-H>h1{
    font-size: 2.0rem;
}

#flex-galary{
    margin: 75px 50px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}

.img1>img{
    width: 300px;
    height: 200px;
    margin: 30px auto;
}